.App {
  text-align: center;
}

.button {
  background-color: #4CAF50;
  cursor: pointer;
  width: 150px;
  /* Green */
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: all linear 0.2s;
}

.button:hover {
  background-color: #008CBA;
  color: #ffffff;
}